header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #28a745; /* Verde para o header */
  color: white; /* Cor do texto */
}
.header-left {
  display: flex;
  align-items: center;
}
.header-right {
  text-align: right;
}

/* Layout flexível para o footer */
html,
body {
  height: 100%;
  margin: 0;
}
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
}
footer {
  flex-shrink: 0;
  background-color: #28a745; /* Verde para o footer */
  color: white; /* Cor do texto */
}

/* Botões primários (verde) */
.btn-primary {
  background-color: #28a745;
  border-color: #28a745;
}
.btn-primary:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

/* Botões de ação (verde) */
.btn-info {
  background-color: #28a745;
  border-color: #28a745;
}
.btn-info:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

/* Botões de perigo (vermelho) */
.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

/* Botões de aviso (amarelo) */
.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-warning:hover {
  background-color: #e0a800;
  border-color: #d39e00;
}

/* Abas */
.nav-tabs .nav-link.active {
  background-color: #28a745;
  border-color: #28a745;
  color: white;
}
.nav-tabs .nav-link {
  color: #28a745;
}
